{% extends "_base.html" %}
{% block content %}
    {% if is_authenticated %}
        <ul class="flex justify-end font-mono text-xl font-black">
            <li class="flex-1"><a href="/"><p class="text-green-800">{{ request.user.username }}</p></a></li>
            <li><a href="{% url 'logout' %}" class="hover:bg-green-200">logout</a></li>
        </ul>

        {% if request.user.is_staff %}
            <p class="my-8">({{ status }})</p>
            <p class="my-8">{{ whitelist_list }}</p>
        {% else %}
            <p class="my-8"></p>
            <p class="my-8"></p>
        {% endif %}

        <div class="grid {% if request.user.is_staff %}grid-cols-5{% else %}grid-cols-1{% endif %} w-full">
            <div class="grid-span-5 {% if request.user.is_staff %}md:col-span-2{% endif %}">
                <h1 class="text-2xl font-black text-green-600">Payments</h1>
                {% if request.user.is_staff and not payment %}
                    <div class="w-full p-2">
                        <form action="/payment/" method="POST">
                            {% include 'save_payment.html' %}
                        </form>
                    </div>
                {% endif %}
                <div method="POST" class="relative overflow-x-auto p-2">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Player
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Amount
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in z__payments %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    {% if p.id == payment.id %}
                                        <td colspan="4">
                                            <div class="w-full p-2">
                                                <form action="/payment/" method="POST">
                                                    {% include 'save_payment.html' %}
                                                </form>
                                            </div>
                                        </td>
                                    {% else %}
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ p.z__player }}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{ p.amount }}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{ p.date }}
                                        </td>
                                        <td class="px-6 py-4 flex gap-0.5">
                                                <a href="/?payment={{p.id}}" class="bg-yellow-400 hover:bg-yellow-600 text-white py-1 px-2">edit</a>
                                                <form action="/payment/" method="POST">
                                                    {% csrf_token %}
                                                    <button value="{{ p.id }}" name="delete"
                                                        class="bg-red-400 hover:bg-red-600 text-white py-1 px-2">delete</button>
                                                </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <td colspan="4" class="italic px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        No payments found
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if request.user.is_staff %}
            <div class="grid-span-5 md:col-span-3">
                <h1 class="text-2xl font-black text-green-600">Players</h1>
                {% if not player %}
                    <div class="w-full p-2">
                        <form action="/player/" method="POST">
                            {% include 'save_player.html' %}
                        </form>
                    </div>
                {% endif %}
                <div class="relative overflow-x-auto p-2">
                    {% csrf_token %}
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    User
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    UUID
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Joined Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in z__players %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    {% if player and player.uuid == p.uuid %}
                                        <td colspan="5">
                                            <div class="w-full p-2">
                                                <form action="/player/" method="POST">
                                                    {% include 'save_player.html' %}
                                                </form>
                                            </div>
                                        </td>
                                    {% else %}
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{ p.name }}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{ p.z__user }}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{ p.uuid }}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{ p.joined }}
                                        </td>
                                        <td class="px-6 py-4 flex gap-0.5">
                                            <a href="/?player={{p.uuid}}" class="bg-yellow-400 hover:bg-yellow-600 text-white py-1 px-2">edit</a>
                                            <form action="/player/" method="POST">
                                                {% csrf_token %}
                                                <button value="{{ p.uuid }}" name="delete"
                                                    class="bg-red-400 hover:bg-red-600 text-white py-1 px-2">delete</button>
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <td colspan="4" class="italic px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        No players found
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    {% else %}
        <ul class="flex justify-end font-mono text-xl font-black gap-3">
            <li class="flex-1"><h1>MC Admin</h1></li>
            <li><a href="{% url 'login' %}" class="p-3 border">Login</a></li>
        </ul>
    {% endif %}

{% endblock content %}