{% extends "_base.html" %}

{% block content %}
    {% if is_authenticated %}
        <ul class="flex justify-end font-mono text-xl font-black">
            <li class="flex-1"><p class="text-green-800">{{ request.user.username }}</p></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
        </ul>

        <p class="my-8">{{ whitelist_list }}</p>

    {% else %}
        <ul class="flex justify-end font-mono text-xl font-black gap-3">
            <li class="flex-1"><h1>MC Admin</h1></li>
            <li><a href="{% url 'login' %}" class="p-3 border">Login</a></li>
        </ul>
    {% endif %}

{% endblock content %}